<% layout('layout') %>
<p class="main-title"><%= title %></p>
<% if (board.length) { %>
  <div class="white-bg">
      <ul class="main-list">
          <% board.forEach(function(messageItem) { %>
              <li class="main-list__item">
                  <div class="message">
                      <p class="message__title"><%= messageItem.value.title %></p>
                      <p class="message__date"><%= messageItem.value.user_name %> <%= messageItem.value.date %></p>
                  </div>
              </li>
          <% }); %>
      </ul>
  </div>
<% } %>
<form action="/boards/<%= board.board_id %>" method="post" class="board-form">
    <input type="text" name="message" class="input" required>
    <button type="submit" class="submit">投稿</button>
</form>
<% if (typeof user !== 'undefined') { %>
    <span class="login-user"><%= user.user_name %>さんとしてログインしています</span>
<% } %>
<a href="/" class="btn">トップへもどる</a>
